.DS_Store
api/.DS_Store
*/*.*/DS_Store

.DS_Store
.DS_Store
.DS_Store
.DS_Store
api/.DS_Store
.env
api/src/out/appsettings.json
api/src/out/*
api/src/out/*.*/*.*
mobile/src/src/google-services.json
mobile/src/google-services.json
api/src/.run/NeverAlone.Web.run.xml
api/src/.run/NeverAlone.Console.UserMonitorNotifications.run.xml
api/src/NeverAlone.Web/log.db3
