#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.bordered-section {
  margin: 5px;
  border-width: 3px;
  background-color: #f6f1f425;
  border-radius: 5px;
  border-color: #dfe4ea25;
  padding: 10px;
}
